input[type="text"] {
  height: 50px;
  width: 50%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
  transition: all 0.5s ease;
  padding: 0px;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="text"]:focus {
  border-bottom: 2px solid blueviolet;
}

#adder {
  height: 25px;
  border-radius: 5px;
  background-color: var(--feild-color);
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  border: var(--border-sides);
  align-items: center;
  justify-content: space-around;
}

.addbut {
  width: max-content;
  color: blueviolet;
  height: 35px;
  font-size: 1.1rem;
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.feild > label > input {
  height: 50px;
  width: 50%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
  transition: all 0.5s ease;
  padding: 0px;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 15px;
}

.feild > label {
  display: flex;
  flex-direction: column;
}

.feild {
  height: max-content;
}

.feild > input {
  height: 50px;
  width: 50%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
  transition: all 0.5s ease;
  padding: 0px;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

.bottom > button {
  width: max-content;
  float: left;
  color: blueviolet;
  height: 35px;
  font-size: 1rem;
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

#save {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#savebut {
  width: 70px;
  height: 35px;
  font-size: 1rem;
  background-color: rgb(168, 117, 216);
  border-radius: 5px;
  border: var(--border-sides);
  cursor: pointer;
}

.opcon {
  display: flex;
  flex-direction: column;
}

.opcon > label > input[type="radio"] {
  width: 15px;
  height: 15px;
  outline: none;
  margin-right: 10px;
}

.opcon > label > input[type="text"] {
  max-width: max-content;
  min-width: 50px;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 20px;
}
